@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* MARK: - HEADER */
header {
    display: flex;
    background-color: #a12118;
    border-bottom: 2px solid #000;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    list-style: none;
}

nav a {
    color: #fff
}

.logo-header {
    width: 15%;
    height: auto;
    position: relative;
    padding: 15px;
}

.nav-list a:hover {
    color: #11c5bc;
}

.contact-list {
    list-style: none;
    font-size: 1em;
    color: #fff;
}

.contact-list li:first-child {
    font-weight: bold;
    font-size: 20px;
}

.contact-list li {
    padding: 5px;
}

.contact-list a {
    text-decoration: none;
}

.subscrive {
    text-align: center;
}

#buttom {
    background-color: #e31714;
    padding: 5px;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

#buttom:hover {
    color: #ffff00;
}

/* MARK: - FOOTER PADRÃO */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 1.2rem;
    background-color: #333;
}

footer p {
    color: white;
}

.footer-content {
    text-align: center;
    margin-bottom: 10px;
}

.info-text {
    font-size: 0.7em;
    margin-top: 10px;
    color: rgb(255, 255, 255, 0.5);

}

.contact-footer {
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 10px;
}

/* MARK: - HOME */
#main-home {
    padding: 20px;
}

#main-home h2,
p {
    text-align: center;
    color: #e31714;
    margin-bottom: 20px;
}

#main-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#main-list li {
    background-color: #FFFFFF;
    border: 2px solid #EE3124;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
    padding: 15px;
}

#main-list li h3 {
    color: #C90014;
    margin: 10px 0;
}

#main-list li img {
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
}

#main-list li p {
    color: #000000;
    font-size: 14px;
    margin: 10px 0;
}

#main-list li a {
    display: inline-block;
}

#about-us {
    background-color: #f8f1e7;
    color: #333;
    padding: 30px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 900px;
}

#about-us h2 {
    color: #b92d1b;
    font-size: 2rem;
    margin-bottom: 15px;
    text-align: center;
}

#about-us img {
    display: block;
    margin: 20px auto;
    border: 5px solid #e4d4c8;
    border-radius: 10px;
}

#about-us p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 10px 0;
    text-align: justify;
}

#about-us strong {
    color: #b92d1b;
    font-weight: bold;
}

/* MARK: - PROMOCOES */
.promo {
    border-collapse: collapse;
    margin: auto;
}

.promo th,
td {
    padding: 0.5rem;
}

.promo thead {
    background-color: burlywood;
}

.promo tbody {
    padding: 1rem;
}

#promo {
    text-align: center;
    padding: 1rem;
}

.main-promo h2 {
    margin: 2rem;
}

.main-promo img {
    border-radius: 2rem;
    width: 60%;
    height: auto;
}

/* MARK: - Carousel feature -> Automatico*/

.carousel {
    display: flex;
    width: 80%;
    height: fit-content;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.carousel-line {
    display: flex;
    gap: 1rem;
    animation: slide 8s linear infinite;
}

.carousel-item {
    flex: 0 0 fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    width: 50%;
    height: auto;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-50%);
    }

    50% {
        transform: translateX(-100%);
    }

    75% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

/* MARK: LOJAS */
#stores {
    text-align: center;
    padding: 1rem;
}

.stores-h2 {
    background-color: #e31714;
    margin-block: 2rem;
    padding: 0.5rem;
    color: #ffffff;
}

.stores {
    border-collapse: collapse;
    margin: auto;
}

.stores th,
td {
    padding: 0.5rem;
}

.stores tbody {
    padding: 1rem;
}

.grid-iframe {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#maps iframe {
    width: 100%;
    border-radius: 2rem;
    padding: 1rem;
}

#environment img {
    border-radius: 2rem;
    width: 40%;
    height: auto;
    padding: 1rem;
}

/* MARK: - CARDAPIO */
.cardapio {
    border-collapse: collapse;
}

.cardapio th,
td {
    padding: 0.5rem;
}

.cardapio thead {
    background-color: burlywood;
}

.cardapio tbody {
    padding: 1rem;
}

#cardapio {
    text-align: center;
    justify-content: center;
    padding: 1rem;
}

.box-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-article img {
    border-radius: 2rem;
    width: 30%;
    height: auto;
    padding: 1rem;
}

/* MARK: - FORMULÁRIO */
.form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

fieldset {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
}

legend {
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
    padding: 0 10px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
    border-color: #f39c12;
    outline: none;
}

textarea {
    resize: vertical;
    font-family: Arial, sans-serif;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 10px;
}

button[type="submit"] {
    background-color: #d12114;
    color: #fff;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #ad1b11;
}

/* MARK: - GENERAL LISTS */
ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    color: #161616;
    text-decoration: none;
}

#button {
    width: 30%;
    background-color: #f39c12;
    padding: 1.2rem;
    font-size: 0.9em;
    font-weight: bold;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#button:hover {
    background-color: rgb(189, 122, 15);
    transform: scale(1.02);
}

/* MARK: - RESPONSIVIDADE */
@media screen and (max-width: 480px) {
    .logo-header {
        width: 40%;
    }

    .box-article {
        display: flex;
        flex-direction: column;
    }

    .grid-iframe {
        display: flex;
        flex-direction: column;
    }

    .main-promo img {
        width: 100%;
    }

    .carousel {
        width: 100%;
    }

    #environment img {
        width: 100%;
    }
}