@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    display: border-box;
}

/* INÍCIO DO CSS DAS TABELAS DO CARDÁPIO*/
table{
    background-color: black;
    margin-left: auto; 
    margin-right: auto;
    border-color: burlywood;

    
}

caption{
    font-size: 20px;
    background-image: linear-gradient(to right, #e31714, red, #e31714);
    color: rgb(black);
    font-weight: bold;
    text-shadow: 
    -1px -1px 0 #ffffff,  
         1px -1px 0 #ffffff,
        -1px  1px 0 #ffffff,
         1px  1px 0 #ffffff; 
    ;
}

thead{
    background-color: burlywood;

}

tr{
    color: white;
    font-family: sans-serif;
}
th{
    color: white;
    text-shadow: 
    -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000; 
    ;
}
#cardapio{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    background-image: url(https://th.bing.com/th/id/R.cd34b3076a3269ecef991ad7bdc39eee?rik=7VqjJSF2Ka6YXQ&pid=ImgRaw&r=0);    
}
/* FIM DO CSS DAS TABELAS DO CARDÁPIO*/
