@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* MARK: - HEADER */
header {
    display: flex;
    background-color: #e31714;
    border-bottom: 5px solid #000;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    list-style: none;
}

nav a{
    color: #fff
}

.logo-header {
    width: 15%;
    height: auto;
    position: relative;
    padding: 15px;
}

.nav-list a:hover {
    color: #11c5bc;
}

.contact-list {
    list-style: none;
    font-size: 1em;
    color: #fff;
}

.contact-list li:first-child {
    font-weight: bold;
    font-size: 20px;
}

.contact-list li {
    padding: 5px;
}

.contact-list a {
    text-decoration: none;
}

.subscrive {
    text-align: center;
}

#buttom {
    background-color: #e31714;
    padding: 5px;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

#buttom:hover {
    color: #ffff00;
}

/* MARK: - FOOTER PADRÃO */
footer {
    background-color: #660d0d;
    border-top: 5px solid #000;
    gap: 1rem;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-itens {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

footer img {
    width: 50px;
    height: auto;
}

.copy {
    text-align: center;
    font-size: 17px;
}

footer hr {
    margin: 15px;
    border-color: #e31714;
}

footer p {
    text-align: center;
    color: rgb(255,255,255, 0.8);
    font-size: 0.8em;
}

/* MARK: - CARDAPIO */
.cardapio{
    border-collapse: collapse;
}

.cardapio th, td{
    padding: 0.5rem;
}

.cardapio thead {
    background-color: burlywood;
}

.cardapio tbody{
    padding: 1rem;
}


#cardapio {
    text-align: center;
    justify-content: center;
    padding: 1rem;
}

.box-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-article img{
    border-radius: 2rem;
    width: 30%;
    height: auto;
    padding: 1rem;
}

/* MARK: - FORMULÁRIO */
.form {
    padding: 1rem;
    justify-content: center;
}

fieldset {
    padding: 1.5rem;
    border-radius: 5px;
}

#observacoes {
    resize: none;
    width: 100%;
    padding: 0.5rem;
}

.info {
    display: flex;
    flex-direction: row;
}

/* MARK: - GENERAL LISTS */
ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    color: #161616;
    text-decoration: none;
}

/* Responsive */
/* @media screen and (max-width: 480px){
    .box-article{
        display: flex;
    flex-direction: column;
    }
} */